* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  /* font-family: Spectral, serif; */
  color: #191919;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

/* NAVBAR */

.nav {
  background-color: #ffc017;
  border-bottom: solid 1px #191919;
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  
}

.nav_container_1200px {
  max-width: 1200px;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.navbar * {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: small;
}

#navbar_button {
  background-color: #191919;
  color: white;
  padding: 11px 20px;
  border-radius: 30px;
}





/*HEAD ARTICLE */

.head_background {
  width: 100%;
  background-color: #ffc017;
  border-bottom: solid 1px #191919;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.head_article {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 1200px;
  min-height: 455px;
}

/*HEAD ARTICLE LEFT SIDE */

.head_article_left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 500px;
  z-index: 2;
}
.head_article h1 {
  font-family: Spectral, serif;
  font-size: 11vh;
  letter-spacing: -0.1em;
  padding-bottom: 20px;
}
.head_article b {
  font-size: 3vh;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 50px;
}
.head_article button {
  background-color: #191919;
  border: none;
  color: white;
  padding: 8px 40px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

/*HEAD ARTICLE RIGHT SIDE */

.head_article_right {
  width: auto;
  z-index: 1;
}

.head_article_right svg {
  vertical-align: middle;
}

/*MAIN*/

/*TRENDING ON MEDIUM SECTION */

.trending_all_container {
  border-bottom: solid 1px #191919;
}
.trending_all {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding: 40px 20px 20px 20px;
  max-width: 1200px;
}
.trending_articles {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.main_trending_title {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.main_trending_title img {
  padding-right: 7px;
  padding-bottom: 20px;
}

.main_trending_title p {
  font-weight: bold;
  letter-spacing: 0.1vh;
  font-size: 12px;
  padding-bottom: 20px;
}

.inside_trending_article {
  display: flex;
  width: 300px;
  margin-bottom: 20px;
}
.inside_trending_article h1 {
  font-size: 30px;
  font-weight: bold;
  color: rgba(230, 230, 230, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-right: 30px;
  position: relative;
  top: 5px;
}

.inside_trending_article img {
  border-radius: 50%;
  scale: 50%;
}
#inside_trending_article_02 {
  border-radius: 20%;
}
.inside_trending_article span {
  color: rgb(128, 128, 128);
}

.inside_t_article_column {
}
.inside_trending_article .author {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.author {
  position: relative;
  right: 10px;
}
.author h3 {
  font-size: 13px;
  font-weight: 500;
}

.inside_t_article_column b {
  font-size: 16px;
  font-weight: bold;
}

.inside_t_article_column h4 {
  font-size: 14px;
  color: #757575;
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.inside_t_article_column h4 img {
  width: 35px;
  height: auto;
}

/*MAIN ARTICLES SECTION */

.main_articles_container {
  max-width: 690px;
  padding-top: 50px;
}
.main_article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: center;
}
.main_article_left {
  max-width: 490px;
  padding-right: px;
}

.main_article_author {
  display: flex;
  align-items: center;
  position: relative;
  right: 10px;
}
.main_article_left img {
  scale: 50%;
  border-radius: 50%;
  border: solid lightgrey;
}

.main_article_author div {
  font-weight: 500;
  font-size: 12px;
}
.main_article h2 {
  font-size: 20px;
  font-weight: 800;
}

.main_article p {
  font-size: 16px;
  padding-top: 10px;
  color: #757575;
}

.main_article_lastrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.main_article_lastrow p {
  font-size: 12px;
}

.main_article_lastrow img {
  all: unset;
  scale: 80%;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.main_article_lastrow button {
  all: unset;
  background-color: rgba(211, 211, 211, 0.266);
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}

#article_preview_img {
  height: 15vh;
  width: auto;
  max-width: 200px;
  max-height: 134px;
}

/*DISCOVER MORE SECTION */

.discover_all {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 30px 5vh;
  justify-content: flex-start;
  border-bottom: solid 1px lightgrey;
  flex-direction: column;
}
.discover_title {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 15px;
}

.discover_buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  max-width: 350px;
}

.discover_buttons div {
  background-color: #ffffff;
  border: solid 1px lightgrey;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 5%;
  color: #757575;
  cursor: pointer;
  margin-top: 5px;
}

/*FOOTER SECTION */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.f_links {
  color: #757575;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  max-width: 450px;
}
footer div {
  padding: 10px;
  cursor: pointer;
}

.megacontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
}
.discover_all_footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
