* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  /* font-family: Spectral, serif; */
  color: #191919;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
}

/* NAVBAR */

.navbar {
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 30px 0;
  border-bottom: solid 1px #191919;
  position: sticky;
  top: 0;
}

.navbar * {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav_items_text {
  font-size: small;
}

.nav_item_rounded {
  background-color: #191919;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
}

/*SUB NAVBAR ARTICLE */

.sub_navbar_article {
  box-sizing: border-box;
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0px 0px 0px 10%;
  border-bottom: solid 1px #191919;
}

/*SUB NAVBAR ARTICLE LEFT SIDE */

.sub_navbar_article_left {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 435px;
}
.sub_navbar_article h1 {
  font-family: Spectral, serif;
  font-size: 100px;
  letter-spacing: -0.1em;
}
.sub_navbar_article b {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
.sub_navbar_article button {
  background-color: #191919;
  border: none;
  color: white;
  padding: 8px 50px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

/*SUB NAVBAR ARTICLE RIGHT SIDE */

.sub_navbar_article_right {
}

/*MAIN*/

/*TRENDING ON MEDIUM SECTION */

.trending_all {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border-bottom: solid 1px #191919;
}
.trending_articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.main_trending_title {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.main_trending_title img {
  padding-right: 7px;
}

.main_trending_title p {
  font-weight: bold;
  letter-spacing: 0.1vh;
}

.inside_trending_article {
  display: flex;
  width: 300px;
  margin-bottom: 20px;
}
.inside_trending_article h1 {
  font-size: 24px;
  font-weight: bolder;
  color: lightgray;
}

.inside_trending_article img {
  border-radius: 50%;
  scale: 60%;
}
#inside_trending_article_02 {
  border-radius: 20%;
}
.inside_trending_article span {
  color: grey;
}

.inside_t_article_column {
  display: flex;
  flex-direction: column;
}
.inside_trending_article .author {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.author h3 {
  font-size: 14px;
  font-weight: bold;
}

.inside_t_article_column b {
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
}

.inside_t_article_column h4 {
  font-size: 14px;
  color: #757575;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.inside_t_article_column h4 img {
  width: 35px;
  height: auto;
}

/*MAIN ARTICLES SECTION */

.main_articles_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main_article {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 700px;
}
.main_article_left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: center;
  justify-content: space-evenly;
}

.main_article_author {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.main_article_lastrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#article_preview_img {
  height: 15vh;
  width: auto;
}

/*DISCOVER MORE SECTION */

.discover_all {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 30px 5vh;
  justify-content: flex-start;
  border-bottom: solid 1px lightgrey;
  flex-direction: column;
}
.discover_title {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 15px;
}

.discover_buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  max-width: 350px;
}

.discover_buttons div {
  background-color: #ffffff;
  border: solid 1px lightgrey;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 5%;
  color: #757575;
  cursor: pointer;
  margin-top: 5px;
}

/*FOOTER SECTION */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.f_links {
  color: #757575;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  max-width: 450px;
}
footer div {
  padding: 10px;
  cursor: pointer;
}

.megacontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 720px;
}
.discover_all_footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1080px;
  flex-direction: column;
  align-items: center;
}
